<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HIVE - Online Diagnose Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
    <script src="../assets/js/main.js"></script>

    <!--bootstrap--> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
     <!--font awsome-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--favicon-->
    <link rel="shortcut icon" href="../assets/images/favicon.png">
<script>
$(document).ready(function(){
        $.getJSON("https://hiveapp.mybluemix.net/patientInfo/78", function(result){


         

         //var myJSON = JSON.stringify(result);
       //alert(myJSON);

       var data=result;

       var newData=JSON.parse(data).firstname;
       alert(newData);
       
 
});

});


 
 
</script>
</head>

<body>
        <div class="header row" style="position: relative; top:0px;">
            <div class="col-lg-1 col-md-1 logo">
              <a href="#">
                <img src="../assets/images/logo.png">
                <span class="logo-title">HIVE</span>
              </a>
            </div>
            <div class="col-lg-9 col-md-9">

            </div>
            <div class="col-lg-2 col-md-2">
                <h4 class="user"><b>Welcome <span class="text-uppercase"><%= firstname %></span></b></h4>
                <div><b>Patient ID: <%= patientID %></b></div>
            </div>
        </div>

      <!--end of header -->
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="doctor-list col-lg-8 col-md-8">
            <ul>
              <li>
                <span>Doctor A</span>
                <form action="/booking" method="GET">
                  <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(01)"/>
                </form>
              </li>
              <li>
                  <span>Doctor B</span>
                  <form action="/booking" method="GET">
                    <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(02)"/>
                  </form>
                </li>
                <li>
                    <span>Doctor C</span>
                    <form action="/booking" method="GET">
                      <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(03)"/>
                    </form>
                  </li>
                  <li>
                      <span>Doctor D</span>
                      <form action="/booking" method="GET">
                        <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(04)"/>
                      </form>
                    </li>
                    <li>
                        <span>Doctor E</span>
                        <form action="/booking" method="GET">
                          <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(05)"/>
                        </form>
                      </li>
                      <li>
                          <span>Doctor F</span>
                          <form action="/booking" method="GET">
                            <input type="submit" value="book" class="btn btn-sm btn-primary" style="position: relative;top:-25px;" onclick="setID(06)"/>
                          </form>
                        </li>
          
           
            </ul>
          </div>
          <div class="col-lg-2 col-md-2"></div>
        </div>

        <div class="booking-status row">
          <h2 class="heading">Booking Status</h2>
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-8 col-md-8">
            <table class="table table-bordered table-striped">
              <tr>
                  <th>Booking ID</th><th>Patient ID</th><th>Doctor ID</th><th>Booking Type</th><th>DateTime</th><th>Payment Status</th></tr>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-2 col-md-2"></div>
        </div>
        <button class="btn btn-primary center">Join Chat</button>

        <div id="demo"></div>

        
</body>
</html>


		
   
	
 
	
